name: Compatibility - Automerge PR
on:
  pull_request:
    types:
      - labeled
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for status checks
        id: waitforstatuschecks
        uses: "WyriHaximus/github-action-wait-for-status@f8bbe3bb321919ec6a009bc98121f39874dc8ee0"
        with:
          ignoreActions: automerge
          checkInterval: 13
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
      - name: Automerge PR
        id: automergepr
        uses: "pascalgn/automerge-action@v0.8.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
          MERGE_LABELS: "compatibility,automated"
          MERGE_REMOVE_LABELS: "automated"
          MERGE_METHOD: "merge"
          MERGE_COMMIT_MESSAGE: "pull-request-title"
          MERGE_FORKS: "false"
          MERGE_RETRIES: "6"
          MERGE_RETRY_SLEEP: "10000"
          UPDATE_LABELS: ""
          UPDATE_METHOD: "merge"