name: Compatibility - Update README

on:
  push:
    paths:
      - compatibility-versions.json
    branches:
      - master

jobs:
  updateCompatibilityTable:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master
      uses: actions/checkout@v2
    - name: Update README.md
      uses: sblecon/auto-filling-by-the-code@master
      with:
        version_file_path: 'compatibility-versions.json'
        readme_path: 'README.md'
        section_title: '# Compatibility table'
    - name: Create pull request with label 'compatibility-table-automerge'
      id: createpr
      uses: peter-evans/create-pull-request@v2.5.0
      with:
        token: ${{ secrets.GH_TOKEN }}
        commit-message: Update README for Compatibility Table
        committer: GitHub Action <action@github.com>
        author: GitHub Action <action@github.com>
        title: 'Update Compatibility Table'
        body: |
          Compatibility Table update
          - README.md (section '# Compatibility table')
          - Auto-generated by [auto-filling-by-the-code][1]
          - Auto-generated by [create-pull-request][2]

          [1]: https://github.com/sblecon/auto-filling-by-the-code
          [2]: https://github.com/peter-evans/create-pull-request
        labels: compatibility-table-automerge
        assignees: aure-olivier
        reviewers: aure-olivier
        team-reviewers: owners, maintainers
        branch: compatibility-table
    - name: Output pull request info
      run: |
        echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
        echo "Pull Request Number - ${{ steps.createpr.outputs.pr_number }}"
    - name: Automerge pull request with label 'compatibility-table-automerge'
      id: automergepr
      uses: "pascalgn/automerge-action@v0.8.0"
      env:
        GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
        MERGE_LABELS: "compatibility-table-automerge"
        MERGE_REMOVE_LABELS: "compatibility-table-automerge"
        MERGE_METHOD: "merge"
        MERGE_COMMIT_MESSAGE: "pull-request-title"
        MERGE_FORKS: "false"
        MERGE_RETRIES: "6"
        MERGE_RETRY_SLEEP: "10000"
        UPDATE_LABELS: ""
        UPDATE_METHOD: "merge"